yourdomain.com {
  reverse_proxy localhost:443 {
    transport http {
      tls
    }
  }

  file_server
  encode gzip
  log {
    output stdout
  }

  @subscription {
    path /vless_subscription
  }
  rewrite @subscription /vless_subscription.txt
}
